*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Nunito;
}
table{
  margin:1%;
}
td{
  padding:20px;
}
img{
  height:40px;
  width:40px;
}
h1{
  display:inline-block;
  font-size:75px;
  text-shadow: 2px 2px #6e7c7c;
  cursor:pointer;
}
h2{
  display: inline-block;
  margin:1%;
}
#log{
  margin-right:7%;
  cursor:pointer;
}
#sign{
  margin-left:7%;
  color:#6e7c7c;
  cursor:pointer;
}
#outline{
  text-align:center;
  margin:5%;
}
input{
  color:#000000;
}
#user,#pass,#depart,#email{
  display:block;
  text-align:center;
  font-size:24px;
  font-family: Nunito;
  width:25%;
  border:2px solid #000000;
  border-radius: 50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -o-border-radius:50px;
  margin:2%;
  padding:1%;
  outline: none;
}

#check{
  margin:5px;
}

#submit{
  display:block;
  text-align:center;
  font-size:18px;
  font-family:Nunito;
  border:2px solid #000000;
  border-radius: 50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -o-border-radius:50px;
  margin:2%;
  padding:0.5%;
  background:#ffffff;
  outline:none;
}
#submit:hover{
  color:#ffffff;
  background: #000000;
}
#alert{
  margin-bottom: 1%;
}
#exist,#incorrect,#mail{
  display:none;
}
